@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Neonderthaw&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --100vh: 100vh;
  --font-header: "Neonderthaw", cursive;
  --font-body: "Dongle", sans-serif;
}

.error {
  background: rgb(91, 91, 214);
  padding: 1rem;
  color: white;
  font-family: var(--font-body);
  font-size: 25px;
}

.loader {
  margin: 100px 0px 0px 150px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid black;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
