@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Neonderthaw&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --100vh: 100vh;
  --font-header: "Neonderthaw", cursive;
  --font-body: "Dongle", sans-serif;
}
